@tailwind base;

@tailwind components;

@tailwind utilities;


.bg-dark-1{
    background-color: #4D4D4D;
}
.bg-dark-2{
    background-color: #333333;
}
.ml-72 {
    margin-left: 20rem;
}
.ml-68 {
    margin-left: 25rem;
}
.bg-green-0{
    background-color: #38E078;
}
.bg-green-600{
    background-color: #169346;
}
.bg-green-501{
    background-color: #73BE90;
}
.bg-gray-0{
    background-color: #E6E6E6;
}
.text-green-0{
    color: #38E078;
}
.border-green-0{
    border-color: #38E078;
}
.focus\:border-green-0:focus {
    --border-opacity: 1;
    border-color: #38E078;
    border-color: rgba(56, 224, 120, var(--border-opacity));
}
.px-26 {
    padding-left: 6.3rem;
    padding-right: 6.3rem;
}
.w-72{
    width: 30rem;
}
.ml-14 {
    margin-left: 3.3rem;
}
.ml-72{
    margin-left: 48rem;
}

.textcut-2{
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
